/* index.css */
* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Roboto", serif;
}
.app-container {
  width: 100vw;
  min-height: 100vh;
  background: #171718;
}
