/* index.css */
html, body {
  background: #171718;   /* Same color as .app-container */
  min-height: 100vh;     /* Ensures full screen coverage */
  margin: 0;
  padding: 0;
}

.app-container {
  width: 100vw;
  min-height: 100vh;
  background: #171718;
}
.page-content {
  padding-top: 100px; /* Creates space below navbar */
}
